/* General body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Sidebar styles */
#sidebar {
    width: 100%;
    max-width: 100%; /* Ensure the sidebar spans the full width on mobile */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    padding: 2px;
    z-index: 1000; /* Ensure sidebar stays on top */
}

#sidebar .inner {
    padding: 2px;
}

#sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row; /* Change to row for horizontal layout on mobile */
    flex-wrap: wrap;
    justify-content: space-around; /* Space out items */
}

#sidebar nav ul li {
    margin: 2px 0;
}

#sidebar nav ul li a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    display: block;
    padding: 10px;
    transition: color 0.3s, background-color 0.3s;
    word-wrap: break-word; /* Ensure long words break properly */
}

#sidebar nav ul li a:hover {
    color: red;
}

/* Wrapper styles */
#wrapper {
    margin-top: 10px; /* Adjust this margin to match the sidebar height */
    padding: 2px;
    padding-left: 3px; /* Set left padding */
    max-width: 30ch; /* Set max width to 30 characters per line */
    word-wrap: break-word; /* Ensure long words break properly */
}

/* Content column control */
#content {
    margin-left: 0; /* Start the content directly below the sidebar */
}

/* Icons styles */
.icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.icons li {
    display: inline-block;
    margin-right: 10px;
}

.icon {
    font-size: 2em;
}

.email-link {
    color: red;
}

/* Media Queries for responsive design */
@media (min-width: 768px) {
    #sidebar {
        width: 200px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        max-width: 15ch; /* Set max width to 15 characters on larger screens */
    }

    #sidebar nav ul {
        flex-direction: column; /* Change to column layout on larger screens */
    }

    #wrapper {
        margin-left: 240px; /* Adjust this margin to match the sidebar width */
        margin-top: 0;
        padding-left: 20px; /* Adjust padding for larger screens */
        max-width: none; /* Reset max-width for larger screens */
    }

    /* Reset content margin for larger screens */
    #content {
        margin-left: 0;
    }
}
